/* Tickets List CSS */
.TicketsList {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    row-gap: 5px;
}

.TicketsArray {
    display: flex;
    flex-direction: column;
    height: 55vh;
    row-gap: 3px;
}

.CreateNewTicket {
    width: 25%;
    background-color: rgb(202, 183, 15);
    border: 1px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    color: white;
    margin: 10px 5px 10px 5px;
    font-size: 20px;
}

.CreateNewTicket:hover {
    cursor: pointer;
    background-color: rgb(189, 106, 6);
}

.Filters {
    display: flex;
    width: 85vw;
    column-gap: 5px;
    margin-bottom: 10px;
}

.Filters button {
    font-size: 12px;
    /* background-color: rgb(137, 135, 135); */
    border: 1px;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
}

.Filters button:hover {
    cursor: pointer;
    background-color: #00d394;
}

.TicketsList h1 {
    width: 85vw;
    text-align: center;
    background-color: #13523f;
    border: 1px;
    border-style: solid;
    border-color: #13523f;
    border-radius: 80% 80% 0% 0%;
    color: white;
    padding: 5px 0px 5px 0px;
}

.TicketsList .CompletedTicket {
    background-color: rgb(26, 86, 46);
}

.TicketsList article {
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(137, 135, 135);
}

.TicketsList article h2 {
    margin-left: 15px;
    width: 70%;
    font-size: 22px;
}

.TicketsList article p {
    width: 20%;
}

.TicketsList article button {
    margin-right: 15px;
    width: 10%;
    background-color: rgb(137, 135, 135);
    border: 1px;
    border-radius: 10px;
    padding: 0px 15px 2px 15px;
    color: white;
    margin: 10px 5px 10px 5px;
    font-size: 20px;
}

.TicketsList article button:hover {
    cursor: pointer;
    background-color: #00d394;
}

/* Media for responsive css */

@media (max-width: 950px) {
    .TicketsList h1 {
        font-size: 26px;
    }

    .CreateNewTicket {
        font-size: 18px;
    }

    .Filters button {
        font-size: 10px;
    }

    .Filters h3 {
        font-size: 16px;
    }

    .TicketsList article h2 {
        font-size: 20px;
    }
    
    .TicketsList article p {
        font-size: 15px;
    }
    
    .TicketsList article button {
        font-size: 18px;
    }
}

@media (max-width: 850px) {
    .TicketsList h1 {
        font-size: 24px;
    }

    .CreateNewTicket {
        font-size: 15px;
    }

    .Filters button {
        font-size: 11px;
    }

    .Filters h3 {
        font-size: 14px;
    }

    .TicketsList article h2 {
        font-size: 18px;
    }
    
    .TicketsList article p {
        font-size: 14px;
    }
    
    .TicketsList article button {
        font-size: 16px;
        padding: 0px 10px 0px 10px;
    }
}

@media (max-width: 750px) {
    .TicketsList h1 {
        font-size: 22px;
    }

    .CreateNewTicket {
        font-size: 11px;
    }

    .Filters h3 {
        font-size: 12px;
    }

    .TicketsList article h2 {
        font-size: 16px;
    }
    
    .TicketsList article p {
        font-size: 12px;
    }
    
    .TicketsList article button {
        font-size: 12px;
        padding: 0px 8px 0px 8px;
    }
}

@media (max-width: 600px) {
    .TicketsList h1 {
        font-size: 20px;
    }

    .CreateNewTicket {
        font-size: 10px;
        padding: 2px 10px 2px 10px;
    }

    .Filters h3 {
        font-size: 10px;
    }

    .Filters button {
        font-size: 10px;
    }

    .TicketsList article h2 {
        font-size: 14px;
    }
    
    .TicketsList article p {
        font-size: 10px;
    }
    
    .TicketsList article button {
        font-size: 10px;
        padding: 0px 8px 0px 8px;
    }
}

@media (max-width: 500px) {
    .TicketsList h1 {
        font-size: 18px;
    }

    .TicketsArray {
        height: 45vh;
    }

    .CreateNewTicket {
        font-size: 9px;
        padding: 1px 0px 0px 0px;
    }

    .Filters h3 {
        display: none;
    }

    .Filters button {
        font-size: 10px;
    }

    .TicketsList article h2 {
        font-size: 11px;
    }
    
    .TicketsList article p {
        font-size: 10px;
    }
    
    .TicketsList article button {
        font-size: 8px;
        padding: 0px 8px 0px 8px;
    }
}

@media (max-width: 400px) {
    .TicketsList h1 {
        font-size: 18px;
    }

    .CreateNewTicket {
        font-size: 10px;
        padding: 1px 0px 0px 0px;
    }

    .Filters h3 {
        display: none;
    }

    .Filters {
        flex-wrap: wrap;
    }

    .TicketsList article h2 {
        font-size: 9px;
    }
    
    .TicketsList article p {
        font-size: 9px;
    }
    
    .TicketsList article button {
        font-size: 7px;
        padding: 0px;
    }
}



/* Ticket CREATE NEW CSS*/

.TicketNew {
    width: 60vw;
    min-height: 50vh;
    max-height: 70vh;
    position: absolute;
    margin-left: 20vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    align-items: center;
}

.TicketNew h1 {
    width: 100%;
    text-align: center;
    background-color: rgb(189, 106, 6);
    border: 1px;
    border-style: solid;
    border-color: rgb(189, 106, 6);
    color: white;
    padding: 5px 0px 5px 0px;
    margin-bottom: 50px;
}

.TicketNew section {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.TicketNew section div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.TicketNew section div p {
    color: red;
}

.TicketNew section div:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.TicketNew section div label {
    width: 20%;
}

.TicketNew section div input {
    width: 75%;
}

.TicketNew section div select {
    width: 75%;
}

.TicketNew section div button {
    background-color: rgb(137, 135, 135);
    border: 1px;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}

.TicketNew section div button:hover {
    cursor: pointer;
    background-color: #00d394;
}

/* Media for responsive css */

@media (max-width: 800px) {
    .TicketNew h1 {
        font-size: 24px;
    }

    .TicketNew section {
        width: 70%;
    }

    .TicketNew {
        width: 70vw;
        margin-left: 15vw;
    }
}

@media (max-width: 600px) {
    .TicketNew h1 {
        font-size: 22px;
    }

    .TicketNew {
        width: 75vw;
        margin-left: 13vw;
    }
}

@media (max-width: 550px) {
    .TicketNew h1 {
        font-size: 20px;
    }

    .TicketNew section div {
        font-size: 14px;
    }

    .TicketNew section div button {
        font-size: 16px;
    }

    .TicketNew section {
        width: 85%;
    }
}

@media (max-width: 400px) {
    .TicketNew h1 {
        font-size: 16px;
    }

    .TicketNew section div {
        font-size: 10px;
    }

    .TicketNew section div button {
        font-size: 12px;
    }

    .TicketNew section {
        width: 90%;
    }
}


/* Ticket Details CSS*/
.TicketDetails {
    width: 60vw;
    min-height: 75%;
    max-height: 88%;
    position: absolute;
    margin-left: 20vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    align-items: center;
}

.TicketDetails h1 {
    width: 100%;
    text-align: center;
    background-color: rgb(189, 106, 6);
    border: 1px;
    border-style: solid;
    border-color: rgb(189, 106, 6);
    color: white;
    padding: 5px 0px 5px 0px;
    margin-bottom: 50px;
}

.TicketDetails section {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.TicketDetails section div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.TicketDetails section div p {
    color: red;
}

.TicketDetails section div:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.TicketDetails section div label {
    width: 30%;
}

.TicketDetails section div input {
    width: 70%;
}

.TicketDetails section div select {
    width: 70%;
}

.TicketDetails section div button {
    background-color: rgb(137, 135, 135);
    border: 1px;
    border-radius: 10px;
    padding: 0px 15px 2px 15px;
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}

.TicketDetails section div:nth-child(5) {
    display: inline-block;
}

.TicketDetails section div button:hover {
    cursor: pointer;
    background-color: #00d394;
}

@media (max-width: 850px) {
    .TicketDetails {
        width: 75vw;
        margin-left: 15vw;
    }
    
    .TicketDetails h1 {
        font-size: 24px;
    }

    .TicketDetails section div {
        font-size: 14px;
    }

    .TicketDetails section div button {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .TicketDetails {
        width: 80vw;
        margin-left: 10vw;
    }
    
    .TicketDetails h1 {
        font-size: 22px;
    }

    .TicketDetails section div {
        font-size: 12px;
    }

    .TicketDetails section div button {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .TicketDetails {
        width: 90vw;
        margin-left: 5vw;
    }
    
    .TicketDetails h1 {
        font-size: 20px;
    }

    .TicketDetails section {
        width: 85%;
    }

    .TicketDetails section div {
        font-size: 10px;
    }

    .TicketDetails section div button {
        font-size: 12px;
    }
}


/* Ticket Comments */

.TicketCommnetsOverview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.TicketCommnetsOverview div {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.TicketCommnetsOverview button {
    background-color: rgb(137, 135, 135);
    border: 1px;
    border-radius: 10px;
    padding: 0px 15px 2px 15px;
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
    width: 180px;
}

.TicketCommnetsOverview button:hover {
    cursor: pointer;
    background-color: #00d394;
}

.TicketCommnets {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: right;
    text-overflow: ellipsis;
    overflow-y: auto;
    min-height: 90%;
    max-height: 100%;
}

.TicketCommnets article {
    display: flex;
    column-gap: 10px;
}

.TicketCommnets span {
    width: 100%;
    border: 1px;
    border-style:groove;
}

.TicketCommnets article h2 {
    font-size: 18px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;

    border-style: groove;
}

.TicketCommnets article h2:nth-child(2) {
    font-style: italic;
}

.TicketCommnets button {
    background-color: rgb(137, 135, 135);
    border: 1px;
    border-radius: 10px;
    padding: 0px 15px 2px 15px;
    color: white;
    margin-top: 15px;
    font-size: 20px;
    width: 180px;
    margin-bottom: 5px;
}

.TicketCommnets button:hover {
    cursor: pointer;
    background-color: #00d394;
}

.TicketCommnetCreate {
    width: 40vw;
    height: 20%;
    position: absolute;
    margin-left: 30vw;
    margin-top: 60vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

.TicketCommnetCreate p {
    color: red;
}

.TicketCommnetCreate h2 {
    width: 100%;
    text-align: center;
    background-color: #00d394;
    border: 1px;
    border-style: solid;
    border-color: #00d394;
    color: white;
    padding: 5px 0px 5px 0px;
}

.TicketCommnetCreate button {
    background-color: rgb(137, 135, 135);
    border: 1px;
    border-radius: 10px;
    padding: 0px 15px 2px 15px;
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
    width: 100px;
}

.TicketCommnetCreate button:hover {
    cursor: pointer;
    background-color: #00d394;
}

/* Media for responsive css */

@media (max-width: 800px) {
    .TicketCommnetsOverview h2 {
        font-size: 20px;
    }

    .TicketCommnetsOverview button {
        font-size: 16px;
    }

    .TicketCommnets h2 {
        font-size: 18px;
    }

    .TicketCommnets article h2 {
        font-size: 14px;
    }

    .TicketCommnetCreate {
        width: 50vw;
        margin-left: 25vw;
    }

    .TicketCommnetCreate h2 {
        font-size: 18px;
    }

    .TicketCommnetCreate div {
        font-size: 14px;
    }

    .TicketCommnetCreate button {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .TicketCommnetsOverview h2 {
        font-size: 18px;
    }

    .TicketCommnetsOverview button {
        font-size: 13px;
        width: 120px;
    }

    .TicketCommnets h2 {
        font-size: 16px;
    }

    .TicketCommnets article h2 {
        font-size: 12px;
    }

    .TicketCommnetCreate {
        width: 60vw;
        margin-left: 20vw;
    }

    .TicketCommnetCreate h2 {
        font-size: 16px;
    }

    .TicketCommnetCreate div {
        font-size: 12px;
    }

    .TicketCommnetCreate button {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .TicketCommnetsOverview h2 {
        font-size: 14px;
    }

    .TicketCommnetsOverview button {
        font-size: 12px;
        padding: 0px;
        width: 100px;
    }

    .TicketCommnets h2 {
        font-size: 12px;
    }

    .TicketCommnets article h2 {
        font-size: 10px;
    }
    .TicketCommnets button {
        font-size: 12px;
        width: 100px;
        padding: 0px 5px 1px 5px;
    }

    .TicketCommnetCreate {
        width: 70vw;
        margin-left: 15vw;
    }

    .TicketCommnetCreate h2 {
        font-size: 14px;
    }

    .TicketCommnetCreate div {
        font-size: 10px;
    }

    .TicketCommnetCreate button {
        font-size: 12px;
    }
}


/* Tickets Pagination */

.TicketsPagination {
    display: flex;
    column-gap: 2px;
    list-style: none;
}

.TicketsPagination li button {
    font-size: 14px;
    /* background-color: rgb(137, 135, 135); */
    border: 1px;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 2px 10px;
}

.TicketsPagination li button:hover {
    cursor: pointer;
    background-color: #00d394;
}

/* Media for responsive css */

@media (max-width: 700px) {
    .TicketsPagination li button {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .TicketsPagination li button {
        font-size: 10px;
    }
}